$background-color: #bcac84;

$menu-button-top: #8d8163;
$menu-button-middle: #5e5642;
$menu-button-bottom: #2f2b21;
$menu-button-top-hover: #9d9173;
$menu-button-middle-hover: #6e6652;
$menu-button-bottom-hover: #3f3b31;
$menu-font-color: #ecdcb4;

$section-background-color: #fff;

$footer-font-color: #555;