.header {
    border-bottom: 1px solid $menu-button-middle;
    height: 160px;
    min-width: 1020px;

    img {
        border: 0;
        height: 100%;
    }

    span {
        float: right;
        font-size: 3.6em;
        margin-right: 10px;
        margin-top: 100px;
        text-align: right;
    }
}