{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Consulting{% endblock %}

{% block content %}
<div class="article">
	<h2>Consulting</h2>
	<p>Sometimes it is difficult to work through a problem with a horse or within your own riding.
		Kim is available for evaluation, consulting, and discussion regarding rehabilitation, behavioral
		problems, equine emotional issues, and different options for training. Kim is happy to assist,
		bringing a new perspective and new ideas to current relationships. When something is not
		working with horses, as in life, it is so important not to try harder, but to try different. Kim
		can help you find different ways to see the issue and fix it. This service is available to trainers,
		owners, and riders, and rescues as part of the team effort to make your horsey lifestyle more
		enjoyable!
	</p>
	<p>Each horse's consultation consists of a full evaluation done by Kim Leonard assessing a number
		of factors affecting the horse’s quality of life. We look at riding and training pieces such as
		gaits, conformation, mental state/personality, training evaluation in hand, on the lunge, and under
		saddle.
	</p>
	<p>Other significant issues meriting full evaluation are diet, tack fitting, PT/rehab if needed, and
		social needs of the horse. Generally the evaluation and discussion takes about an hour and a half
		for each horse.
	</p>
</div>
{% endblock %}
