{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Directions{% endblock %}

{% block content %}
<div class="article">
	<p>
		Bit of Honey Training LLC is located about 15 minutes north of Fort Collins, west of I-25.<br><br>
		16687 North County Road 9<br>
		Wellington, CO 80549
	</p>

	<p>
		Take exit 281 (Owl Canyon) and head west<br>
		After about a mile, turn north (right) on CR 9 (at the bottom of the hill)<br>
		Bit of Honey Training LLC is about five miles north on the left side of the road.<br><br>
		<iframe class="map google-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.0982754506244!2d-105.024251!3d40.825805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876ed331183457ff%3A0xb0174d98bbe103bb!2s16687+N+County+Road+9%2C+Wellington%2C+CO+80549!5e0!3m2!1sen!2sus!4v1409289858061"></iframe>
	</p>
</div>
{% endblock %}
