{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Directions{% endblock %}

{% block content %}
<div class="article">
	<p>
		Bit of Honey Training LLC is located about 10 minutes north of Fort Collins, west of I-25.<br><br>
		12245 North County Road 17<br>
		Fort Collins, CO 80524
	</p>

	<a href="/static/images/pictures/Entrance.jpg">
		<img src="/static/images/pictures/medium/Entrance.jpg" alt="Image of entrance to Bit of Honey Training LLC ">
	</a>
	<br><br><br><br>

	<h1>From I-25</h1>
	<p>
		Take exit 281 (Owl Canyon) and head west<br>
		After about 4.5 miles, go through the 4-way stop<br>
		After another mile west, take a right on CR 17 (north)<br>
		Bit of Honey Training LLC is about 1/2 mile north on the left side of the road.<br><br>
		<iframe class="map google-iframe" src="https://www.google.com/maps?f=d&amp;source=embed&amp;saddr=E+Co+Rd+70%2FOwl+Canyon+Rd&amp;daddr=12245+N+CR+17,+Fort+Collins+CO+80524&amp;hl=en&amp;geocode=FZzfbQIdmem9-Q%3BFen9bQIdjVu8-SmHp1cBdjJphzFKFPBZLduv-Q&amp;mra=ls&amp;sll=40.75636,-105.044403&amp;sspn=0.229116,0.406151&amp;ie=UTF8&amp;t=m&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=d&amp;source=embed&amp;saddr=E+Co+Rd+70%2FOwl+Canyon+Rd&amp;daddr=12245+N+CR+17,+Fort+Collins+CO+80524&amp;hl=en&amp;geocode=FZzfbQIdmem9-Q%3BFen9bQIdjVu8-SmHp1cBdjJphzFKFPBZLduv-Q&amp;mra=ls&amp;sll=40.75636,-105.044403&amp;sspn=0.229116,0.406151&amp;ie=UTF8&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</p>
	<br>
	<br>

	<h1>From HW 287</h1>
	<p>
		Take Owl Canyon Road from 287 and head east<br>
		After 5.3 miles, turn right on CR 17 (south)<br>
		Bit of Honey Training LLC is about 1/2 mile south on the right side of the road<br><br>
		<iframe class="map google-iframe" src="https://www.google.com/maps?f=d&amp;source=embed&amp;saddr=W+Co+Rd+72&amp;daddr=40.7702645,-105.11736+to:12245+N+CR+17,+Fort+Collins,+CO+80524&amp;hl=en&amp;geocode=FVj8bQIdHCa7-Q%3BFdgabgIdUAm8-Smj1jq65C1phzGsae7_ljtO0A%3BFen9bQIdjVu8-SmHp1cBdjJphzFKFPBZLduv-Q&amp;sll=40.763641,-105.14122&amp;sspn=0.254575,0.528374&amp;t=m&amp;mra=dpe&amp;mrsp=1&amp;sz=12&amp;via=1&amp;ie=UTF8&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=d&amp;source=embed&amp;saddr=W+Co+Rd+72&amp;daddr=40.7702645,-105.11736+to:12245+N+CR+17,+Fort+Collins,+CO+80524&amp;hl=en&amp;geocode=FVj8bQIdHCa7-Q%3BFdgabgIdUAm8-Smj1jq65C1phzGsae7_ljtO0A%3BFen9bQIdjVu8-SmHp1cBdjJphzFKFPBZLduv-Q&amp;sll=40.763641,-105.14122&amp;sspn=0.254575,0.528374&amp;t=m&amp;mra=dpe&amp;mrsp=1&amp;sz=12&amp;via=1&amp;ie=UTF8&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</p>
</div>
{% endblock %}
