{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Directions{% endblock %}

{% block content %}
<div class="article">
	<p>
		Bit of Honey Training LLC is located about 15 minutes north of Fort Collins, west of I-25.<br><br>
		16687 North County Road 9<br>
		Wellington, CO 80549
	</p>

	<ul class="directions-list">
		<li>Take exit 281 (Owl Canyon) and head west</li>
		<li>After about a mile, turn north (right) on CR 9 (at the bottom of the hill)</li>
		<li>Bit of Honey Training LLC is about five miles north on the left side of the road.</li>
	</ul>
	<iframe class="map google-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d193358.87561976706!2d-104.93348504921596!3d40.77890398855423!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876ed331183457ff%3A0xb0174d98bbe103bb!2s16687+N+County+Road+9%2C+Wellington%2C+CO+80549!5e0!3m2!1sen!2sus!4v1409968983139"></iframe>
</div>
{% endblock %}
