{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Facilities{% endblock %}

{% block content %}
<div class="article">
	<h1>Facilities include</h1>
	<ul>
		<li>100 x 100 indoor arena with groomed sand footing</li>
		<li>100 x 100 outdoor arena with groomed sand footing</li>
		<li>100’ round pen with solid walls and groomed sand footing</li>
		<li>56 acres of fields available to ride with varied terrain including water, hills, and footing appropriate for galloping</li>
		<li>Stadium jumps</li>
		<li>Stalls with runs</li>
		<li>Loafing sheds and paddocks</li>
		<li>Wood fencing and metal panel fencing</li>
		<li>Trainer lives onsite and has 6 years of experience as a veterinary technician</li>
		<li>Highest quality timothy grass hay</li>
		<li>No extra fees for feeding grain or supplements you provide</li>
		<li>No extra fees for blanketing or turnout</li>
		<li>Established relationships with veterinarian and farrier</li>
		<li>Cross-country jumps and trail obstacles coming 2015</li>
	</ul>

	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/ArenaNew.jpg">
			<img src="/static/images/pictures/thumbnails/ArenaNew.jpg" data-big="/static/images/pictures/ArenaNew.jpg" alt="Covered arena" title="ArenaNew.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/ArenaNew2.jpg">
			<img src="/static/images/pictures/thumbnails/ArenaNew2.jpg" data-big="/static/images/pictures/ArenaNew2.jpg" alt="Covered arena" title="ArenaNew2.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Barn.jpg">
			<img src="/static/images/pictures/thumbnails/Barn.jpg" data-big="/static/images/pictures/Barn.jpg" alt="View of the barn" title="Barn.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/BarnOutside.jpg">
			<img src="/static/images/pictures/thumbnails/BarnOutside.jpg" data-big="/static/images/pictures/BarnOutside.jpg" alt="View of the barn" title="BarnOutside.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/EntryPanorama.jpg">
			<img src="/static/images/pictures/thumbnails/EntryPanorama.jpg" data-big="/static/images/pictures/EntryPanorama.jpg" alt="Entry of the property" title="EntryPanorama.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/FrontPasture.jpg">
			<img src="/static/images/pictures/thumbnails/FrontPasture.jpg" data-big="/static/images/pictures/FrontPasture.jpg" alt="Bit of Honey Training front pasture" title="FrontPasture.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/FrontPastureSamsonCole.jpg">
			<img src="/static/images/pictures/thumbnails/FrontPastureSamsonCole.jpg" data-big="/static/images/pictures/FrontPastureSamsonCole.jpg" alt="Samson and Cole in the front pasture" title="FrontPastureSamsonCole.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Paddocks.jpg">
			<img src="/static/images/pictures/thumbnails/Paddocks.jpg" data-big="/static/images/pictures/Paddocks.jpg" alt="View of the paddocks" title="Paddocks.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/RoundPen.jpg">
			<img src="/static/images/pictures/thumbnails/RoundPen.jpg" data-big="/static/images/pictures/RoundPen.jpg" alt="View of the round pen" title="RoundPen.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/SignBoHT.jpg">
			<img src="/static/images/pictures/thumbnails/SignBoHT.jpg" data-big="/static/images/pictures/SignBoHT.jpg" alt="Bit of Honey Training sign" title="SignBoHT.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/TackRoom1.jpg">
			<img src="/static/images/pictures/thumbnails/TackRoom1.jpg" data-big="/static/images/pictures/TackRoom1.jpg" alt="View of the tack room" title="TackRoom1.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/TackRoom2.jpg">
			<img src="/static/images/pictures/thumbnails/TackRoom2.jpg" data-big="/static/images/pictures/TackRoom2.jpg" alt="View of the tack room" title="TackRoom2.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/TackRoom3.jpg">
			<img src="/static/images/pictures/thumbnails/TackRoom3.jpg" data-big="/static/images/pictures/TackRoom3.jpg" alt="View of the tack room" title="TackRoom3.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/TackRoomMiles.jpg">
			<img src="/static/images/pictures/thumbnails/TackRoomMiles.jpg" data-big="/static/images/pictures/TackRoomMiles.jpg" alt="Miles in the tack room" title="TackRoomMiles.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/WalkingByHouse.jpg">
			<img src="/static/images/pictures/thumbnails/WalkingByHouse.jpg" data-big="/static/images/pictures/WalkingByHouse.jpg" alt="Clients and Kim riding by the house" title="WalkingByHouse.jpg">
		</a>
	</div>
</div>
{% endblock %}
