{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Facilities{% endblock %}

{% block content %}
<div class="article">
	<h1>Facilities include</h1>
	<ul>
		<li>Large groomed outdoor arena</li>
		<li>Groomed round pen</li>
		<li>Pastures</li>
		<li>Trails</li>
		<li>Daily turnout</li>
		<li>Trainer lives onsite and has 6 years of vet tech experience</li>
		<li>12'x12' stalls</li>
		<li>Deep shavings</li>
		<li>Grass hay</li>
		<li>Excellent working relationship with vet and farrier</li>
		<li>Stadium jumps</li>
	</ul>
	<div class="galleria">
		<a class="img_link" href="/static/images/pictures/medium/CecilBarn.jpg">
			<img src="/static/images/pictures/thumbnails/CecilBarn.jpg" data-big="/static/images/pictures/CecilBarn.jpg" alt="Cecil in front of the barn" title="CecilBarn.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/SouthPasture.jpg">
			<img src="/static/images/pictures/thumbnails/SouthPasture.jpg" data-big="/static/images/pictures/SouthPasture.jpg" alt="View of the south pasture" title="SouthPasture.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/Jumping_outside.jpg">
			<img src="/static/images/pictures/thumbnails/Jumping_outside.jpg" data-big="/static/images/pictures/Jumping_outside.jpg" alt="Kim jumping Thai" title="Jumping_outside.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/stables2.jpg">
			<img src="/static/images/pictures/thumbnails/stables2.jpg" data-big="/static/images/pictures/stables2.jpg" alt="Bit of Honey Training stables" title="stables2.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/SPastureGreen.jpg">
			<img src="/static/images/pictures/thumbnails/SPastureGreen.jpg" data-big="/static/images/pictures/SPastureGreen.jpg" alt="View of the south pasture" title="SPastureGreen.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/Arena.jpg">
			<img src="/static/images/pictures/thumbnails/Arena.jpg" data-big="/static/images/pictures/Arena.jpg" alt="View of the arena" title="Arena.jpg">
		</a>
	</div>
</div>
{% endblock %}