{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Saddle and Tack Fitting{% endblock %}

{% block content %}
<div class="article">
	<h2>Saddle Fitting</h2>
	<p>Kim has years of experience with fitting many types of saddles to different horses. Often
		behavioral problems and lameness stem from ill-fitting tack. When the saddle is comfortable, the horse is
		comfortable. For more specific details about how a saddle fits a moving horse, we use the Port Lewis
		Saddle Fit pad, a transparent saddle pad filled with a red play-dough substance. It does not correct
		anything; it is a superb diagnostic tool. The horse is tacked up wearing normal equipment, including the
		impression pad. After the play-dough is warmed up and thus displaced by pressure points, it shows very
		clearly where fitting corrections need to be made. Whether the need is for a specific style of Western,
		English, or Australian saddle, Kim can assist you in finding the right fit for you and your horse.
	</p>
</div>
<div class="article">
	<div class="galleria">
		<a class="img_link" href="/static/images/pictures/medium/BayBit.jpg">
			<img src="/static/images/pictures/thumbnails/BayBit.jpg" data-big="/static/images/pictures/BayBit.jpg" alt="" title="BayBit.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BayIPad.jpg">
			<img src="/static/images/pictures/thumbnails/BayIPad.jpg" data-big="/static/images/pictures/BayIPad.jpg" alt="" title="BayIPad.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BayImpression.jpg">
			<img src="/static/images/pictures/thumbnails/BayImpression.jpg" data-big="/static/images/pictures/BayImpression.jpg" alt="Examining impression left in pad" title="BayImpression.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BayMidRide.jpg">
			<img src="/static/images/pictures/thumbnails/BayMidRide.jpg" data-big="/static/images/pictures/BayMidRide.jpg" alt="Riding with the impression pad under the saddle" title="BayMidRide.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BayMouth.jpg">
			<img src="/static/images/pictures/thumbnails/BayMouth.jpg" data-big="/static/images/pictures/BayMouth.jpg" alt="" title="BayMouth.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BaySymmetry.jpg">
			<img src="/static/images/pictures/thumbnails/BaySymmetry.jpg" data-big="/static/images/pictures/BaySymmetry.jpg" alt="Checking how symmetrical the horse's back is" title="BaySymmetry.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/IndyLowWithers.jpg">
			<img src="/static/images/pictures/thumbnails/IndyLowWithers.jpg" data-big="/static/images/pictures/IndyLowWithers.jpg" alt="Examining a horse with low whithers" title="IndyLowWithers.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/IndyTreelessAsymmetry.jpg">
			<img src="/static/images/pictures/thumbnails/IndyTreelessAsymmetry.jpg" data-big="/static/images/pictures/IndyTreelessAsymmetry.jpg" alt="" title="IndyTreelessAsymmetry.jpg">
		</a>
	</div>
</div>
{% endblock %}
