{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Holistic Training{% endblock %}

{% block content %}
<div class="article">
	<h2>Holistic Training</h2>
	<p>At Bit of Honey, training is a holistic endeavor. It involves not just behavioral modifications
		using classical and operant conditioning, but training includes review and adjustment of:
	</p>
	<ul>
		<li>Dental issues</li>
		<li>Saddle fit</li>
		<li>Hoof care</li>
		<li>Bitting and equipment</li>
		<li>Veterinary attention</li>
		<li>Emotional needs of the horse and owner</li>
		<li>Personality and preferences of horse and owner</li>
		<li>Acupuncture</li>
		<li>Massage</li>
		<li>Chiropractic</li>
		<li>Behavioral problems addressed</li>
		<li>Diet</li>
		<li>Social needs of horse</li>
	</ul>

	<p>We believe in addressing all the underlying segments of a relationship with the horse. By doing
		so, we learn that the horse is greater than the sum of his parts. With this understanding, we can help him
		be a happy, content, healthy, well-behaved partner.
	</p>

	<p>All medical procedures such as dental work, chiropractic treatments, and body work are done by
		certified, licensed veterinarians. Farrier work is done by our A.F.A certified professional farrier.
		Care is coordinated by <a href="/trainer">Kim Leonard</a>.
	</p>
</div>
<div class="article">
	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/TrotRPolesRP.jpg">
			<img src="/static/images/pictures/thumbnails/TrotRPolesRP.jpg" data-big="/static/images/pictures/TrotRPolesRP.jpg" alt="Grace learning ground poles" title="TrotRPolesRP.jpg">
		</a>
	</div>
</div>
{% endblock %}
