{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Index{% endblock %}

{% block content %}
<article>
<div class="article">
	<p>
		Our mission at Bit of Honey Training is to create safe happy riders and balanced sound horses. We enhance the human/equine
		partnership for the purpose of creating a supportive relationship and attaining goals. As our riders vary, so does our methodology.
		We embrace many training and coaching philosophies, to ensure the best possible fit for improving communication between horse
		and rider.
	</p>
	<p>
		The philosophy at Bit of Honey Training can be explained in the history of our name.  One gentle technique for teaching a horse to accept 
		the bit is to put honey on it so it tastes nice when it is placed in the mouth.  There is also the expression that “you catch more flies 
		with honey than with vinegar”.  That is how we feel about training.  Horses are individuals who need special customized attention, and what 
		works for one horse does not work for every horse.  We take pride in tailoring a training program for each horse that suits both the horse 
		and owner.  Kindness, consistency, communication, and patience are of utmost importance when teaching horses and people.  We sweet talk horses into 
		enjoying their training by doing things with a "bit of honey".  Additionally, Kim’s first horse was Docs Bit of Honey, and it is for her that 
		the stable was originally named.  
	</p>
	<a href="/static/images/pictures/Paddock.jpg">
		<img src="/static/images/pictures/medium/Paddock.jpg" alt="Paddock view to the west" title="Paddock view to the west">
	</a>
</div>
</article>
{% endblock %}
