{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Riding Instruction{% endblock %}

{% block content %}
<div class="article">
	<h2>Riding Instruction</h2>

	<p>The basis for riding instruction at Bit of Honey is that your horse’s body is a mirror of your own.
		What you do with your body parts is what the horse will do with his. Riding instruction at Bit of
		Honey Training is for educating the rider about her own anatomy, how to use her body, and how
		different postures and movements affect the horse. Kim’s teaching style is relaxed, focusing on
		teaching the rider how and why she should do something with her body as well as what it feels
		like. Questions from the rider are always welcomed and encouraged.
	</p>

	<a href="/static/images/pictures/ComparableAnatomy.jpg">
		<img src="/static/images/pictures/medium/ComparableAnatomy.jpg" alt="Comparing horse and human anatomy" title="Comparing horse and human anatomy">
	</a>

	<p>Kim teaches using different exercises for each horse and rider, and the exercises can be adapted
		for difficulty level. The goal is to challenge each rider and horse, while still keeping them
		comfortable and confident. Kim is encouraging and positive, so that riding stays fun and as safe
		as possible for everyone involved.
	</p>

	<p>Lesson plans are an integral part of the riding instruction program. </p>

	<a href="/static/images/pictures/CatchHalterLead.jpg">
		<img src="/static/images/pictures/medium/CatchHalterLead.jpg" alt="Comparing horse and human anatomy" title="Comparing horse and human anatomy">
	</a>

	<a href="/static/images/pictures/Contents.jpg">
		<img src="/static/images/pictures/medium/Contents.jpg" alt="Comparing horse and human anatomy" title="Comparing horse and human anatomy">
	</a>

	<p>This way there is always a goal for the lesson with a procedure for meeting the goal. If the rider
		has something specific they want to work on that day lesson plans can always be adjusted, and of
		course if the horse has a specific need that comes first as well.
	</p>

	<p>Kim also understands that everyone learns a little differently. Specifically with relation to
		teaching riders, Kim will tailor riding lessons to your learning style, whether you are visual,
		auditory, or a kinesthetic learner. Kim encourages communication through questions and
		conversation between instructor, student rider, and horse.
	</p>

	<p>Kim is a certified instructor with Sally Swift’s Centered Riding program. She also has degrees
		in Psychology, Anatomy, and Neurobiology. She has learned from riding with some of the best,
		including Susan Harris, David O’Connor, Daniel Stewart, Greg Best.
	</p>
</div>
<div class="article">
	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/EstesCoachingTao.jpg">
			<img src="/static/images/pictures/thumbnails/EstesCoachingTao.jpg" data-big="/static/images/pictures/EstesCoachingTao.jpg" alt="" title="EstesCoachingTao.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimAtTCRJumping2.jpg">
			<img src="/static/images/pictures/thumbnails/KimAtTCRJumping2.jpg" data-big="/static/images/pictures/KimAtTCRJumping2.jpg" alt="" title="KimAtTCRJumping2.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimJubilee.jpg">
			<img src="/static/images/pictures/thumbnails/KimJubilee.jpg" data-big="/static/images/pictures/KimJubilee.jpg" alt="" title="KimJubilee.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Lily.jpg">
			<img src="/static/images/pictures/thumbnails/Lily.jpg" data-big="/static/images/pictures/Lily.jpg" alt="" title="Lily.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/NEBHorseExpoGroup.jpg">
			<img src="/static/images/pictures/thumbnails/NEBHorseExpoGroup.jpg" data-big="/static/images/pictures/NEBHorseExpoGroup.jpg" alt="" title="NEBHorseExpoGroup.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Ribbons.jpg">
			<img src="/static/images/pictures/thumbnails/Ribbons.jpg" data-big="/static/images/pictures/Ribbons.jpg" alt="" title="Ribbons.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimSamiraCyndi.jpg">
			<img src="/static/images/pictures/thumbnails/KimSamiraCyndi.jpg" data-big="/static/images/pictures/KimSamiraCyndi.jpg" alt="" title="KimSamiraCyndi.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Group.jpg">
			<img src="/static/images/pictures/thumbnails/Group.jpg" data-big="/static/images/pictures/Group.jpg" alt="" title="Group.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimTeachingStudents.jpg">
			<img src="/static/images/pictures/thumbnails/KimTeachingStudents.jpg" data-big="/static/images/pictures/KimTeachingStudents.jpg" alt="" title="KimTeachingStudents.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimTeaching2Point.jpg">
			<img src="/static/images/pictures/thumbnails/KimTeaching2Point.jpg" data-big="/static/images/pictures/KimTeaching2Point.jpg" alt="" title="KimTeaching2Point.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KimTeachingRamonaSheridan.jpg">
			<img src="/static/images/pictures/thumbnails/KimTeachingRamonaSheridan.jpg" data-big="/static/images/pictures/KimTeachingRamonaSheridan.jpg" alt="" title="KimTeachingRamonaSheridan.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Carolwalk.jpg">
			<img src="/static/images/pictures/thumbnails/Carolwalk.jpg" data-big="/static/images/pictures/Carolwalk.jpg" alt="" title="Carolwalk.jpg">
		</a>
	</div>
</div>
{% endblock %}
