{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Lesson Horses{% endblock %}

{% block content %}
<article>
<div class="article">
	<h1>“No one can teach riding so well as a horse” – C.S. Lewis</h1>
	<h3>Cole</h3>
	<p>
		Cole is the main riding lesson horse at Bit of Honey Training. He is
		<script type="text/javascript">document.write(new Date().getFullYear()-2000)</script>
		years old and 15.1 hands tall. Cole is a
		Connemara, a breed that earned its fame for producing hardy Irish jumping ponies. Kim lightly started him when he
		was two and has done the bulk of his under saddle training. He expertly passes knowledge on to his riders by insisting on
		precision in their technique. You always know when you did something correctly, because Cole will instantly respond. He
		has extensive training in dressage and jumping, but is a rare find as he has the smoothest western pleasure jog and lope.
		As a result, he can teach many different skills to his students. He is most famous for his “go-go gadget lips” and ability to
		untie any knot.
	</p>
	<div class="galleria">
		<a class="img_link" href="/static/images/pictures/medium/ColeAfterLesson.jpg">
			<img src="/static/images/pictures/thumbnails/ColeAfterLesson.jpg" data-big="/static/images/pictures/ColeAfterLesson.jpg" alt="Cole with student" title="ColeAfterLesson.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/ColeFace.jpg">
			<img src="/static/images/pictures/thumbnails/ColeFace.jpg" data-big="/static/images/pictures/ColeFace.jpg" alt="Cole's profile" title="ColeFace.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/ColeWrinklyLips.jpg">
			<img src="/static/images/pictures/thumbnails/ColeWrinklyLips.jpg" data-big="/static/images/pictures/ColeWrinklyLips.jpg" alt="Cole's wrinkly nose" title="ColeWrinklyLips.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/ColeLeadline.jpg">
			<img src="/static/images/pictures/thumbnails/ColeLeadline.jpg" data-big="/static/images/pictures/ColeLeadline.jpg" alt="Cole in a Leadline class" title="ColeLeadline.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/Landing.jpg">
			<img src="/static/images/pictures/thumbnails/Landing.jpg" data-big="/static/images/pictures/Landing.jpg" alt="Cole landing a jump" title="Landing.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/Major&Cole.jpg">
			<img src="/static/images/pictures/thumbnails/Major&Cole.jpg" data-big="/static/images/pictures/Major&Cole.jpg" alt="Major and Cole lip wrestling" title="Major&Cole.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/JosieColeRibbon.jpg">
			<img src="/static/images/pictures/thumbnails/JosieColeRibbon.jpg" data-big="/static/images/pictures/JosieColeRibbon.jpg" alt="Josie and Cole win a ribbon" title="JosieColeRibbon.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/JogL.jpg">
			<img src="/static/images/pictures/thumbnails/JogL.jpg" data-big="/static/images/pictures/JogL.jpg" alt="Cole jogging" title="JogL.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/ColeColoradoHorsePark.jpg">
			<img src="/static/images/pictures/thumbnails/ColeColoradoHorsePark.jpg" data-big="/static/images/pictures/ColeColoradoHorsePark.jpg" alt="Cole at the Colorado Horse Park" title="ColeColoradoHorsePark.jpg">
		</a>
	</div>
</div>
</article>

<article>
<div class="article">
	<h3>Major</h3>
	<p>
		Major is the advanced dressage lesson horse for Bit of Honey Training. Standing at 17 hands (our tall drink of water!), he
		is Kim’s retired Thoroughbred eventing horse. At
		<script type="text/javascript">document.write(new Date().getFullYear()-1997)</script>
		years old Major is superb and steady when passing his knowledge
		on to his riders. He has incredible spring in his stride and his sensitivity to rider cues make him ideal for learning lateral
		work and improving the rider’s seat and balance. Major is a schoolmaster in every sense of the word!
	</p>
	<div class="galleria">
		<a class="img_link" href="/static/images/pictures/medium/Major_Trot_LeftONLINE.jpg">
			<img src="/static/images/pictures/thumbnails/Major_Trot_LeftONLINE.jpg" data-big="/static/images/pictures/Major_Trot_LeftONLINE.jpg" alt="Major Trot LeftONLINE" title="Major_Trot_LeftONLINE.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/CanterUp.jpg">
			<img src="/static/images/pictures/thumbnails/CanterUp.jpg" data-big="/static/images/pictures/CanterUp.jpg" alt="CanterUp" title="CanterUp.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/Major&JosieHugSmile.jpg">
			<img src="/static/images/pictures/thumbnails/Major&JosieHugSmile.jpg" data-big="/static/images/pictures/Major&JosieHugSmile.jpg" alt="Major&JosieHugSmile" title="Major&JosieHugSmile.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/SheridanHaltL.jpg">
			<img src="/static/images/pictures/thumbnails/SheridanHaltL.jpg" data-big="/static/images/pictures/SheridanHaltL.jpg" alt="SheridanHaltL" title="SheridanHaltL.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/SheridanTrotL2.jpg">
			<img src="/static/images/pictures/thumbnails/SheridanTrotL2.jpg" data-big="/static/images/pictures/SheridanTrotL2.jpg" alt="SheridanTrotL2" title="SheridanTrotL2.jpg">
		</a>
	</div>
</div>
</article>

<article>
<div class="article">
	<h3>Garmin</h3>
	<p>
		In the fall of 2010, Bit of Honey Training wanted to add a lesson horse to the program. A potential pony
		was advertised online as a lesson pony, but when we met him he would not let a human touch him, had very
		deformed feet, was blind in one eye, malnourished, wheezing, and skittish. We declined to purchase him at that
		time and left.
	</p>
	<p>
		Months later, the pony reappeared in the back of Kim’s mind with an urgent plea to come get him. Locating him
		took quite a bit of searching online, around two counties, and through the grapevine. Finally, after two months
		of looking, we tracked him down to the feedlot where he was to meet his end. We purchased him at night in
		a blizzard for fifty dollars. It was so difficult to find him that he was named after the GPS device, Garmin,
		because the stars must have been in alignment in order for him to make it to Bit of Honey.
	</p>
	<p>
		By July 2011 Garmin was halter trained, stood quietly for grooming and handling, and quietly wore blankets.
		He had gained nearly 200 lbs, recovered from his many illnesses, and his feet were trimmed regularly. He was
		ready for his first show.
	</p>
	<p>
		Today Garmin is our Public Relations Pony. He represents Bit of Honey Training at all kinds of venues, from
		Rocky Mountain Horse Expo in Denver to local holiday parades in Wellington, CO. His other jobs include
		calming the high-strung horses at the stable and moonlighting as a clicker-trained trick pony.
	</p>
	<div class="galleria">
		<a href="/static/images/pictures/medium/GarminJan2011.jpg">
			<img src="/static/images/pictures/thumbnails/GarminJan2011.jpg" data-big="/static/images/pictures/GarminJan2011.jpg" alt="Garmin January 2011" title="GarminJan2011.jpg">
		</a>
		<a href="/static/images/pictures/medium/GarminBodyL4.jpg">
			<img src="/static/images/pictures/thumbnails/GarminBodyL4.jpg" data-big="/static/images/pictures/GarminBodyL4.jpg" alt="Garmin July 2011" title="GarminBodyL4.jpg">
		</a>
		<a href="/static/images/pictures/medium/GarminBodyJan2011.jpg">
			<img src="/static/images/pictures/thumbnails/GarminBodyJan2011.jpg" data-big="/static/images/pictures/GarminBodyJan2011.jpg" alt="Garmin Body January 2011" title="GarminBodyJan2011.jpg">
		</a>
		<a href="/static/images/pictures/medium/KimGarminStartPattern.jpg">
			<img src="/static/images/pictures/thumbnails/KimGarminStartPattern.jpg" data-big="/static/images/pictures/KimGarminStartPattern.jpg" alt="Garmin July 2011" title="KimGarminStartPattern.jpg">
		</a>
		<a href="/static/images/pictures/medium/GarminFeet25Jan2011.jpg">
			<img src="/static/images/pictures/thumbnails/GarminFeet25Jan2011.jpg" data-big="/static/images/pictures/GarminFeet25Jan2011.jpg" alt="Garmin Feet January 2011" title="GarminFeet25Jan2011.jpg">
		</a>
		<a href="/static/images/pictures/medium/GarminFrontFeetMarch2012.jpg">
			<img src="/static/images/pictures/thumbnails/GarminFrontFeetMarch2012.jpg" data-big="/static/images/pictures/GarminFrontFeetMarch2012.jpg" alt="Garmin Feet March 2012" title="GarminFrontFeetMarch2012.jpg">
		</a>
		<a href="/static/images/pictures/medium/GarminNapping.jpg">
			<img src="/static/images/pictures/thumbnails/GarminNapping.jpg" data-big="/static/images/pictures/GarminNapping.jpg" alt="Garmin napping" title="GarminNapping.jpg">
		</a>
		<a href="/static/images/pictures/medium/closeupGroup.jpg">
			<img src="/static/images/pictures/thumbnails/closeupGroup.jpg" data-big="/static/images/pictures/closeupGroup.jpg" alt="Garmin with group at 4th of July 2012" title="closeupGroup.jpg">
		</a>
		<a href="/static/images/pictures/medium/Garmin4July2012.jpg">
			<img src="/static/images/pictures/thumbnails/Garmin4July2012.jpg" data-big="/static/images/pictures/Garmin4July2012.jpg" alt="Garmin July 2012" title="Garmin4July2012.jpg">
		</a>
	</div>
</div>
</article>
{% endblock %}
