{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Pictures{% endblock %}

{% block content %}
<div class="article">
	<p>
		Horses should enjoy their work, and riding should be fun! Our clients embrace this training philosophy. They recognize the horse
		and human relationship to be the foundation for success in any of their equestrian pursuits and recognize our ability to get them
		there. They choose Bit of Honey for the kind, positive coaching and training methods. We welcome all levels of riding from the
		novice looking to learn how to handle a horse safely to the experienced rider trying to solve training issues. Many of our students
		have taken time off from pursuing their equestrian goals because of work schedules or families. At Bit of Honey these riders find
		a nurturing environment to reacquaint themselves with the horse world. We want you to achieve your goals, whether they are to
		show at a rated competition or to go on a relaxing trail ride with your own horse.
	</p>
	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/Kim_on_Ben.jpg">
			<img src="/static/images/pictures/thumbnails/Kim_on_Ben.jpg" data-big="/static/images/pictures/Kim_on_Ben.jpg" alt="Kim riding in the south pasture" title="Kim_on_Ben.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/EntryPanorama.jpg">
			<img src="/static/images/pictures/thumbnails/EntryPanorama.jpg" data-big="/static/images/pictures/EntryPanorama.jpg" alt="Entry of the property" title="EntryPanorama.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/cute_canter.jpg">
			<img src="/static/images/pictures/thumbnails/cute_canter.jpg" data-big="/static/images/pictures/cute_canter.jpg" alt="Kim riding in the arena" title="cute_canter.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/GrazingSPasture2.jpg">
			<img src="/static/images/pictures/thumbnails/GrazingSPasture2.jpg" data-big="/static/images/pictures/GrazingSPasture2.jpg" alt="Horses grazing in the south pasture" title="GrazingSPasture2.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Cecil_salute.jpg">
			<img src="/static/images/pictures/thumbnails/Cecil_salute.jpg" data-big="/static/images/pictures/Cecil_salute.jpg" alt="Cecil at his first show" title="Cecil_salute.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Cecil_walk.jpg">
			<img src="/static/images/pictures/thumbnails/Cecil_walk.jpg" data-big="/static/images/pictures/Cecil_walk.jpg" alt="Cecil walking at his first show" title="Cecil_walk.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Cecil_forehead_rub.jpg">
			<img src="/static/images/pictures/thumbnails/Cecil_forehead_rub.jpg" data-big="/static/images/pictures/Cecil_forehead_rub.jpg" alt="Kim rubbing Cecil's head" title="Cecil_forehead_rub.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/CSUShowmanship.jpg">
			<img src="/static/images/pictures/thumbnails/CSUShowmanship.jpg" data-big="/static/images/pictures/CSUShowmanship.jpg" alt="Western showmanship" title="CSUShowmanship.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/EstesLeading2.jpg">
			<img src="/static/images/pictures/thumbnails/EstesLeading2.jpg" data-big="/static/images/pictures/EstesLeading2.jpg" alt="At a show in Estes Park, CO" title="EstesLeading2.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/GarminHeadshotMarch2011.jpg">
			<img src="/static/images/pictures/thumbnails/GarminHeadshotMarch2011.jpg" data-big="/static/images/pictures/GarminHeadshotMarch2011.jpg" alt="Garmin" title="GarminHeadshotMarch2011.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/PlayingFront.jpg">
			<img src="/static/images/pictures/thumbnails/PlayingFront.jpg" data-big="/static/images/pictures/PlayingFront.jpg" alt="Samson playing" title="PlayingFront.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/RebeccaRedMountain.jpg">
			<img src="/static/images/pictures/thumbnails/RebeccaRedMountain.jpg" data-big="/static/images/pictures/RebeccaRedMountain.jpg" alt="RebeccaRedMountain" title="RebeccaRedMountain.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/smile.jpg">
			<img src="/static/images/pictures/thumbnails/smile.jpg" data-big="/static/images/pictures/smile.jpg" alt="smile" title="smile.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/WalkR.jpg">
			<img src="/static/images/pictures/thumbnails/WalkR.jpg" data-big="/static/images/pictures/WalkR.jpg" alt="WalkR" title="WalkR.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/SangriaWalkL.jpg">
			<img src="/static/images/pictures/thumbnails/SangriaWalkL.jpg" data-big="/static/images/pictures/SangriaWalkL.jpg" alt="SangriaWalkL" title="SangriaWalkL.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/GunterMiles1.jpg">
			<img src="/static/images/pictures/thumbnails/GunterMiles1.jpg" data-big="/static/images/pictures/GunterMiles1.jpg" alt="GunterMiles1" title="GunterMiles1.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/KathyTaoSmooch.jpg">
			<img src="/static/images/pictures/thumbnails/KathyTaoSmooch.jpg" data-big="/static/images/pictures/KathyTaoSmooch.jpg" alt="KathyTaoSmooch" title="KathyTaoSmooch.jpg">
		</a>
	</div>
</div>
{% endblock %}
