{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training PT and Rehab{% endblock %}

{% block content %}
<div class="article">
	<h2>Equine Physical Therapy and Neurorehabilitation</h2>
	<p>Whoever said “healthy as a horse” obviously never owned one! For horses recovering from an
		injury or medical procedure, therapy at Bit of Honey includes developing a specialized therapeutic
		program specific to the needs of each individual horse. This is a team effort involving not only the horse
		and trainer, but also the owner, regular veterinarian, farrier, and any specialists participating in the horse’s
		care. While most often we work with neurologic cases and lameness issues, all types of horses and
		rehabilitation cases are welcome. If the owner doesn’t know where to start, many specialists have worked
		with Bit of Honey over the years and are happy to provide services to develop your horse’s team. Care
		and therapy is coordinated by Kim Leonard.
	</p>
</div>
<div class="article">
	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/FrankHulaHoops.jpg">
			<img src="/static/images/pictures/thumbnails/FrankHulaHoops.jpg" data-big="/static/images/pictures/FrankHulaHoops.jpg" alt="Frank wearing hula hoops" title="FrankHulaHoops.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/RehabEstim.jpg">
			<img src="/static/images/pictures/thumbnails/RehabEstim.jpg" data-big="/static/images/pictures/RehabEstim.jpg" alt="Horse rehab" title="RehabEstim.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Therabands2Hind7Aug13.jpg">
			<img src="/static/images/pictures/thumbnails/Therabands2Hind7Aug13.jpg" data-big="/static/images/pictures/Therabands2Hind7Aug13.jpg" alt="Working with therabands" title="Therabands2Hind7Aug13.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/Dental1.jpg">
			<img src="/static/images/pictures/thumbnails/Dental1.jpg" data-big="/static/images/pictures/Dental1.jpg" alt="Vet giving a horse a dental examination" title="Dental1.jpg">
		</a>
	</div>
</div>
{% endblock %}
