{% extends "bitofhoney/base.html" %}
{% block title %}Bit of Honey Training Facilities{% endblock %}

{% block content %}
<div class="article">
	<h1>Books</h1>
	<ul>
		<li><i>Centered Riding</i> by Sally Swift</li>
		<li><i>Centered Riding Further Exploration</i> by Sally Swift</li>
		<li><i>It’s Not JUST About the Ribbons</i> by Jane Savoie</li>
		<li><i>Cross-Train Your Horse</i> by Jane Savoie</li>
		<li><i>Simplify Your Riding</i> by Wendy Murdoch</li>
		<li><i>Stablekeeping</i> by Cherry Hill</li>
		<li><i>Beating Muscle Injuries for Horses</i> by Jack Meagher</li>
		<li><i>Jumps, Etc.</i> by Lisa Campbell</li>
		<li><i>Anatomy of Domestic Animals</i> by Pasquini, Spurgeon, &amp; Pasquini</li>
		<li><i>Atlas of Human Anatomy</i> by Frank Netter</li>
	</ul>
	<h1>Websites</h1>
	<ul>
		<li><a href="http://www.horsetackreview.com">www.horsetackreview.com</a></li>
		<li><a href="http://www.thehorse.com">www.thehorse.com</a></li>
		<li><a href="http://www.emsvet.com">www.emsvet.com</a></li>
		<li><a href="http://www.balancerider.com">www.balancerider.com</a></li>
		<li><a href="http://www.holistic-herd.com">www.holistic-herd.com</a></li>
		<li><a href="http://www.smartpakequine.com">www.smartpakequine.com</a></li>
		<li><a href="http://www.pi-yo-co.com">www.pi-yo-co.com</a></li>
	</ul>
</div>
{% endblock %}