{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Other Services{% endblock %}

{% block content %}
<div class="article">
	<h1>Other Services</h1>
	<ul>
		<li>Riding instruction packages with emphasis on safety for children and adults</li>
		<li>Ground work with horses and their owners</li>
		<li>Lesson horses available</li>
		<li>Finishing work for trained horses, mileage for young ones</li>
		<li>Rated competitions in dressage, eventing, and jumping, schooling shows for English and Western, cattle sorting practices, and of course lots of trail riding</li>
		<li>Full training (4 rides/training sessions per week)</li>
		<li>Custom training programs which can include additional sessions per week, riding instruction, competitions, clinics etc</li>
		<li>Half training (2 rides/training sessions per week)</li>
		<li>Full service board including blanketing, boots, turnout, extra hay, extra bedding at no additional charge</li>
		<li>Tack fitting</li>
		<li>Competing horses for clients</li>
		<li>Coaching at competitions</li>
		<li>Established relationships with regular veterinarian and farrier</li>
	</ul>
	* References available
</div>

<div class="article">
	<div class="galleria">
		<a class="img-link" href="/static/images/pictures/medium/CSUShow.jpg">
			<img src="/static/images/pictures/thumbnails/CSUShow.jpg" data-big="/static/images/pictures/CSUShow.jpg" alt="Kim on Lady Blue Rojo" title="CSUShow.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/GoodTimes.jpg">
			<img src="/static/images/pictures/thumbnails/GoodTimes.jpg" data-big="/static/images/pictures/GoodTimes.jpg" alt="Behind the scenes at a show" title="GoodTimes.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/TrailRide.jpg">
			<img src="/static/images/pictures/thumbnails/TrailRide.jpg" data-big="/static/images/pictures/TrailRide.jpg" alt="On a trail ride" title="TrailRide.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/RMSC2010.jpg">
			<img src="/static/images/pictures/thumbnails/RMSC2010.jpg" data-big="/static/images/pictures/RMSC2010.jpg" alt="Kim on Skipa Wyo Gooseberry" title="RMSC2010.jpg">
		</a>
		<a class="img-link" href="/static/images/pictures/medium/StadiumGate.jpg">
			<img src="/static/images/pictures/thumbnails/StadiumGate.jpg" data-big="/static/images/pictures/StadiumGate.jpg" alt="Kim jumping C'est Cecil" title="StadiumGate.jpg">
		</a>
	</div>
</div>
{% endblock %}
