{% extends "bitofhoney/gallery.html" %}
{% block title %}Bit of Honey Training Trainer{% endblock %}

{% block content %}
<div class="article">
	<h1>Kim Leonard, Trainer and Instructor</h1>

	<img class="head-shot" src="/static/images/pictures/medium/KimHeadshot.jpg" alt="Kim riding in the south pasture">

	<p>
		Kim is a certified instructor with Sally Swift’s Centered Riding program. She has 6 years of
		experience working as a veterinary technician for both small animal and equine practices in
		Colorado and WA state, and has spent years tending to horses with special mental and physical
		needs. Kim also has degrees in Psychology, Anatomy, and Neurobiology. She has learned from
		riding with some of the best, including Susan Harris, David O’Connor, Daniel Stewart, Greg Best,
		among others. However, Kim insists that most of what she knows has been taught to her by the
		horses themselves. She has had success with many different types and breeds, including the usual
		quarter horses, paints, thoroughbreds, and Arabians, but also percherons, fjords, haflingers,
		Clydesdales, Friesians, saddlebreds, morgans, and ponies.
	</p>

	<p>She has evented through Intermediate Level, dressage through 4th level, and done endurance and
		competitive trail riding to 25 miles. While those are her specialties, she has also spent several
		years competing on the A circuit in western equitation and trail, and rode both english and western
		on the APHA and PtHA circuits in New England.  Because of that diversity, Kim sees the value in,
		and feels there is merit to, all types of riding and styles of training. This also allows Kim to
		work with many different types of horses and riders and help them find the discipline in which they
		would be happiest. While she is happy to train horses of all kinds for clients,	her personal horses
		and her favorites are unequivocally the off-track Thoroughbreds, or OTTBs.
	</p>

	<ul class="credentials">
		<li>Certified Instructor with <a href="http://www.centeredriding.org/">Centered Riding</a></li>
		<li>20+ years training horses, competing, and teaching horsemanship</li>
		<li>BS degree from Colorado State University in Psychology, Anatomy, Neurobiology</li>
		<li>6 years of veterinary technician experience</li>
		<li>Therapeutic riding and hippotherapy background</li>
		<li>Specialties: eventing, dressage, jumping, and endurance riding</li>
		<li>Experience with cattle work, western equitation, trail, APHA, PtHA , AQHA</li>
	</ul>
</div>
<div class="article">
	<h1>Priorities</h1>
	<ol>
		<li>Safety</li>
		<li>Fun</li>
		<li>Working toward client goals</li>
	</ol>
</div>
<div class="article">
	<div class="galleria">
		<a class="img_link" href="/static/images/pictures/medium/CanterParker.jpg">
			<img src="/static/images/pictures/thumbnails/CanterParker.jpg" data-big="/static/images/pictures/CanterParker.jpg" alt="Kim and C'est Cecil cantering at Colorado Horse Park" title="CanterParker.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/CCBrush.jpg">
			<img src="/static/images/pictures/thumbnails/CCBrush.jpg" data-big="/static/images/pictures/CCBrush.jpg" alt="Kim and Hold The Flight on the cross country course" title="CCBrush.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/CCFinish.jpg">
			<img src="/static/images/pictures/thumbnails/CCFinish.jpg" data-big="/static/images/pictures/CCFinish.jpg" alt="Kim and Hold The Flight starting cross country course" title="CCFinish.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/DressageFront.jpg">
			<img src="/static/images/pictures/thumbnails/DressageFront.jpg" data-big="/static/images/pictures/DressageFront.jpg" alt="Kim and Hold The Flight" title="DressageFront.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/BitOfHoneyCrowd.jpg">
			<img src="/static/images/pictures/thumbnails/BitOfHoneyCrowd.jpg" data-big="/static/images/pictures/BitOfHoneyCrowd.jpg" alt="Fun at a schooling show" title="BitOfHoneyCrowd.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/CecilBench.jpg">
			<img src="/static/images/pictures/thumbnails/CecilBench.jpg" data-big="/static/images/pictures/CecilBench.jpg" alt="Cecil jumping a bench" title="CecilBench.jpg">
		</a>
		<a class="img_link" href="/static/images/pictures/medium/CecilWaterEntry3.jpg">
			<img src="/static/images/pictures/thumbnails/CecilWaterEntry3.jpg" data-big="/static/images/pictures/CecilWaterEntry3.jpg" alt="Cecil jumping into water" title="CecilWaterEntry3.jpg">
		</a>
	</div>
</div>
{% endblock %}
