{% extends "bitofhoney/gallery.html" %}
{% block title %}Dewey{% endblock %}

{% block content %}
<div class="article">
	<h1>Doits Cat, (barn name Dewey)</h1>
	<h4>
		**Contact Kim to schedule an appointment to see Dewey for the first week of March at Bit of Honey Training to
		try him before the expo!**
	</h4>
	<p>
		Dewey is a Jockey Club registered 16h dark bay <script type="text/javascript">document.write(new Date().getFullYear()-2012)</script>
		year old Thoroughbred gelding.  Never raced, low mileage! He is beautiful, quiet, sensitive, and eager to please.
		He was in race training but never made it to the starting gate.  In July 2014 he went into CANTER Colorado's
		aftercare program and was let down from race training with them. He has grown quite a bit in a short period of time!
	</p>
	<p>
		Starting December 2014, he joined Kim Leonard with Bit of Honey Training to train for the 2015 Equine Comeback Challenge,
		organized by A Home for Every Horse.  Kim and Dewey will show off their skills together in March at the horse expo.
		Dewey will then be available to purchase at the Rocky Mountain Horse Expo, price upon request.
	</p>
	<p>
		Follow <a href="http://bitofhoneytraining.blogspot.com/search/label/2015%20Equine%20Comeback%20Challenge">Dewey's progress</a> on our blog.
	</p>
	<div class="galleria">
		<a href="/static/images/sale_horses/medium/Conformation.jpg">
			<img src="/static/images/sale_horses/thumbnails/Conformation.jpg" data-big="/static/images/sale_horses/Conformation.jpg" alt="Dewey's conformation" title="Conformation.jpg">
		</a>
		<a href="/static/images/sale_horses/medium/CSUFace.jpg">
			<img src="/static/images/sale_horses/thumbnails/CSUFace.jpg" data-big="/static/images/sale_horses/CSUFace.jpg" alt="Dewey's face" title="CSUFace.jpg">
		</a>
	</div>
</div></div>
{% endblock %}
