{% extends "bitofhoney/gallery.html" %}
{% block title %}Dream{% endblock %}

{% block content %}
<div class="article">
	<h1>Dream <span class="sold-label">Sold!</span></h1>
	<p>
		13.1 hands, <script type="text/javascript">document.write(new Date().getFullYear()-2006)</script>
		year old APHA/AQHA grade mare. Cute, stocky sorrel mare with big blaze and sock on left front. Lightly started
		under saddle, good with english or western tack, goes bitless or in a snaffle. Excellent ground manners, loads
		in trailer, ground ties, stands quietly for farrier and vet. Affectionate and likes dogs and kids. Ground drives
		but never hitched to a cart. Cute mover, forward and balanced. Would be great as a kids pony with slightly more
		training, or perfect for a petite adult. Sound sound sound!   No history of lameness or health issues. Sadly,
		lack of time forces sale.
	</p>
	<p>
		Follow <a href="http://bitofhoneytraining.blogspot.com/search/label/Dream">Dream's progress</a> on our blog.
	</p>

	<p>
		<a href="http://www.dreamhorse.com/ad/1964158/dream-sorrel-aqha-quarter-horse-mare-pony-mare-colorado.html">Ad on Dreamhorse.com</a>
	</p>
	<div class="galleria">
		<a class="img-link" href="/static/images/sale_horses/medium/CircleYPleasureDream.jpg">
			<img src="/static/images/sale_horses/thumbnails/CircleYPleasureDream.jpg" data-big="/static/images/sale_horses/CircleYPleasureDream.jpg" alt="Dream at hitching post" title="CircleYPleasureDream.jpg">
		</a>
		<a class="img-link" href="/static/images/sale_horses/medium/Dream2014.jpg">
			<img src="/static/images/sale_horses/thumbnails/Dream2014.jpg" data-big="/static/images/sale_horses/Dream2014.jpg" alt="Dream" title="Dream2014.jpg">
		</a>
		<a class="img-link" href="/static/images/sale_horses/medium/DreamFaceDec2014.jpg">
			<img src="/static/images/sale_horses/thumbnails/DreamFaceDec2014.jpg" data-big="/static/images/sale_horses/DreamFaceDec2014.jpg" alt="Dream's face" title="DreamFaceDec2014.jpg">
		</a>
		<a class="img-link" href="/static/images/sale_horses/medium/DreamWestern.jpg">
			<img src="/static/images/sale_horses/thumbnails/DreamWestern.jpg" data-big="/static/images/sale_horses/DreamWestern.jpg" alt="Dream" title="DreamWestern.jpg">
		</a>
	</div>
</div>
{% endblock %}