{% extends "bitofhoney/gallery.html" %}
{% block title %}Monty{% endblock %}

{% block content %}
<div class="article">
	<h1>Meet Monty Python!</h1>
	<ul>
		<li>16.1h OTTB gelding</li>
		<li><script type="text/javascript">document.write(new Date().getFullYear()-2009)</script> y/o</li>
		<li>Temperament 3</li>
		<li>Blaze and socks</li>
		<li>$11,000</li>
	</ul>
	<p>
		Monty is as fun to ride as his name suggests. He last raced in June 2014 and has been let down
		nicely. He has been in training with Kim Leonard at Bit of Honey Training since April 2015. He is very quiet
		and easy to ride in the arena and on the trail.
	</p>
	<p>
		Monty has completed several horse trials, including the Colorado Horse Park Horse Trial in May '15.  His tight knees and scope over fences attract everyone's attention!  He will be in training and competing until sold.
	</p>
	<p>
		Monty is calm, bold, and balanced through all three phases. He also competed in dressage at training level in Estes Park this summer, consistently scoring in the mid to upper 60s. This horse has the potential to take an adult amateur up the levels, or his bold and fun personality would make him a great field hunter.
	</p>
	<p>
		Monty is uncomplicated to ride, he is jumping to 3'3” in the arena, currently working at training level dressage and schooling some first level movements. He is best suited to an adult rider.
	</p>
	<p>
		He is registered as Monty Python with the Thoroughbred Incentive Fund, USEA, and MSEA. Clean X-rays of front legs available, current on all vaccinations, deworming, farrier, dental work. Easy to load, clip, bathe, etc.  More photos and videos are available.
	</p>
	<div class="galleria">
		<a href="/static/images/sale_horses/medium/StadiumJump.jpg">
			<img src="/static/images/sale_horses/thumbnails/StadiumJump.jpg" data-big="/static/images/sale_horses/StadiumJump.jpg" alt="Monty jumping" title="StadiumJump.jpg">
		</a>
		<a href="/static/images/sale_horses/medium/StadiumJumpR.jpg">
			<img src="/static/images/sale_horses/thumbnails/StadiumJumpR.jpg" data-big="/static/images/sale_horses/StadiumJumpR.jpg" alt="Monty jumping" title="StadiumJumpR.jpg">
		</a>
		<a href="/static/images/sale_horses/medium/MontyDressTrotFront.jpg">
			<img src="/static/images/sale_horses/thumbnails/MontyDressTrotFront.jpg" data-big="/static/images/sale_horses/MontyDressTrotFront.jpg" alt="Monty trotting in dressage pattern" title="MontyDressTrotFront.jpg">
		</a>
		<a href="/static/images/sale_horses/medium/Rside.jpg">
			<img src="/static/images/sale_horses/thumbnails/Rside.jpg" data-big="/static/images/sale_horses/Rside.jpg" alt="Monty view from right side" title="Rside.jpg">
		</a>
		<a href="/static/images/sale_horses/medium/XCJumpR.jpg">
			<img src="/static/images/sale_horses/thumbnails/XCJumpR.jpg" data-big="/static/images/sale_horses/XCJumpR.jpg" alt="Monty jumping cross country" title="XCJumpR.jpg">
		</a>
	</div>
</div></div>
{% endblock %}
